body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.App {
    padding: 20px 40px;
}

.title {
    font-size: 24px;
    color: #242424;
    font-family: Arial, Helvetica, sans-serif;
}

.card-component {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}
.action-cards {
    position: sticky;
    top: 0;
}

@media screen and (max-width: 600px) {
    .card-component {
        grid-template-columns: 1fr;
    }
    .action-cards {
        position: relative;
        top: unset;
    }
}
